# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ruff
.ruff_cache/

# PyTest
.pytest_cache/
test_log/
app/transform/test_log

# VS Code
.vscode/
.vscode-test/
*.code-workspace

# Service Account Secrets
secrets/

# MacOS
.DS_Store

# PyTest Coverage
.coverage

# Python virtual environments
.venv/
venv/